<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring MVC</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <ul th:if="${product != null}">
    	<li>
    		Product Name: <span th:text="${product.name}" style="font-weight: bold"></span>
    	</li>
    	<li>
    		Product Features
    		<ul>
    			<li th:each="f : ${product.productFeature}">Feature name: <span th:text="${f.feature.name}"></span><br/>
    			Value: <span th:text="${f.featureValue}"></span></li>
    		</ul> 
    	</li>
    </ul>
</body>
</html>
